* {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.booked, .hidden {
    display: none;
}

.availabilityContainer {
    display: flex;
    flex-direction: column;
    padding-bottom: 100px;
}

.calendarAndTimeSlots {
    display: flex;
}

.calendar {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    height: 420px;
    width: 400px;
}

.buttonContainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
    padding-left: 20px;
    text-align: center;
}

div button {
    font-weight: 500;
    padding: 5px 15px;
    border: none;
}

div button:hover {
    border-color: #4164D0;
    color: #4164D0;
}

.textInput {
    padding: 8px 100px 8px 8px;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

.bookButton {
    border-radius: 5px;
    color: #ffffff;
    background-color: #4164D0;
    padding: 20px 50px;
    text-decoration: none;
    font-size: 20px;
}

.bookButton.disabled {
    background: #6d6d71;
    opacity: 0.5;
}
.bookButton.disabled:hover {
    background: #6d6d71;
    cursor: default;
}

.bookButton:hover {
    color: #ffffff;
    background-color: #294086;
}

.available {
    width: 160px;
    padding: 8px 25px;
    border: 1px solid #787F90;
    border-radius: 10px;
    color: #787F90;
    font-size: 16px;
    background: none;
    margin-bottom: 10px;
}

.available:hover, .available:focus, .available:active {
    cursor: pointer;
    border: 1px solid #4164D0;
    background: #4164D0;
    color: #fff;
}

.react-calendar button {
    font-size: 18px;
}

.react-calendar__month-view__weekdays {
    font-weight: normal;
}

.react-calendar__navigation .react-calendar__navigation__label:disabled {
    background: none;
    color: #000;
}

.react-calendar__tile:disabled {
    background: none;
}

.react-calendar__tile:disabled:hover {
    color: rgba(16, 16, 16, 0.3);
}

.react-calendar__month-view__days__day--weekend:hover {
    background: none;
    color: #d10000;
}

h2 {
    font-size: 18px;
    font-weight: 400;
}

.bookingForm input, .bookingForm label, .bookingForm textarea{
    display: block;
    font-size: 16px;
    width: 100%;
}

.bookingForm input, .bookingForm textarea {
    padding: 10px 20px;
    border-radius: 10px;
}


.bookingForm input {
    margin: 5px 0 20px 0;
}

.bookingForm textarea {
    margin: 5px 0 0px 0;
}

.bookingForm label {
    color: #333333;
}
.bookingForm input {
    border: 1px solid #787F90;
}

.patientDetailsForm, .availabilityContainer {
    border-top: 1px solid rgba(120, 127, 144, 0.5);
    margin-top: 50px;
    padding-top: 10px;
}

.hideDataValidationErrorMessage {
    display: none;
}

.dataValidationErrorMessage {
    height: 80px;
    padding: 20px 0;
}

.showDataValidationErrorMessage{
    margin: auto;
    color: #d10000;
}