select {
    padding: 8px 100px 8px 8px;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

.doctorsDropdown {
    width: 100%;
    border: 1px solid #787F90;
    border-radius: 10px;
    padding: 17px 15px 17px 22px;
    color: #787F90;
    font-size: 16px;
}