
.bookingForm input {
    margin: 5px 0 20px 0;
}

.bookingForm textarea {
    margin: 5px 0 0px 0;
}

.bookingForm label {
    color: #333333;
}
.bookingForm input {
    border: 1px solid #787F90;
}

.bookButton {
    border-radius: 5px;
    color: #ffffff;
    background-color: #4164D0;
    padding: 20px 50px;
    text-decoration: none;
    font-size: 20px;
}

.bookButton.disabled {
    background: #6d6d71;
    opacity: 0.5;
}
.bookButton.disabled:hover {
    background: #6d6d71;
    cursor: default;
}

.bookButton:hover {
    color: #ffffff;
    background-color: #294086;
}

.hideDataValidationErrorMessage {
    display: none;
}

.dataValidationErrorMessage {
    height: 80px;
    padding: 20px 0;
}

.showDataValidationErrorMessage{
    margin: auto;
    color: #d10000;
}