
.bookingForm input {
    margin: 5px 0 20px 0;
}

.bookingForm textarea {
    margin: 5px 0 0px 0;
}

.bookingForm label {
    color: #333333;
}
.bookingForm input {
    border: 1px solid #787F90;
}

.hideDataValidationErrorMessage {
    display: none;
}

.dataValidationErrorMessage {
    height: 80px;
    padding: 20px 0;
}

.showDataValidationErrorMessage{
    margin: auto;
    color: #d10000;
}